data/*
config.yaml
config2.yaml
config3.yaml
config4.yaml
.venv
datos_sesion.json
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
.ENV/
.pytest_cache/
.mypy_cache/
ms-playwright/

# PyInstaller
build/
dist/
# Si NO vas a editarla, puedes ignorar la .spec; si la personalizas, sí súbela
# *.spec

# Otros
*.log
.DS_Store
.env
CLAUDE.md
.claude/
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md